.container {
  /* border: 1px solid; */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.image-box {
  height: 400px;
  width: 400px;
  /* border: 1px solid; */
}
.dialogue-box {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overlay-container {
  position: relative;
  margin: 20px 0;
}

.dialogue-box {
  position: absolute;
  bottom: 25%;
}

.p-elements {
  width: fit-content;
  max-width: 300px;
  /* border: 1px solid green; */
  height: fit-content;
  text-align: justify;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  padding: 0px 20px;
}

.narrator {
  font-size: medium;
  font-weight: bolder;
  color: green;
}
